.place-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
.form-file {
  display: none;
}

.form-image-btn {
  height: 200px !important;
  width: 330px !important;
  /* padding: 5rem !important; */
  /* border-radius: 50%; */
  border-radius: 5px;
  outline: none;
  text-transform: capitalize;
  background-color: #fff !important;
}

.preview-img img {
  height: 200px !important;
  width: 330px !important;
  border-radius: 5px;
  /* object-fit: cover; */
}
